/* RESETS
------------------------------------------------------------ */
body {
    background-color: #09121F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 700;
}

main {
    margin-top: 50px;
}

/* GLOBALS
------------------------------------------------------------ */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 90%;
    max-width: 800px;
    min-height: 300px;
    margin: 0 auto;
}

.button-wrapper {
    margin-top: 50px;
}

.button {
    padding: 10px 20px;
    background-color: #2EA3C9;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.button.button-cancel {
    float: left !important;
    background-color: #FF8838;
}

input[type="checkbox"] {
    margin: 0;
}

.switch{
    font-size: 18px;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background-color: #A3A2A2;
    position: relative;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.switch:checked{
    background-color: #4796D6;
}

.switch:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    transform: scale(.7);
    left: 0;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.switch:checked:after{
    left: calc(100% - 1.5em);
}

.switch:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.switch:checked:after{
    left: calc(100% - 1.5em);
}

.go-back {
    margin-bottom: 50px;
}

.go-back i {
    font-size: 25px;
    cursor: pointer;
}

.title {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.sub-title {
    margin-bottom: 5px;
    font-size: 22px;
}

header {
    width: 100%;
    height: 75px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

header .Header-logo {
    color: #FFFFFF;
}

header span {
    font-size: 40px;
    font-weight: 700;
}

header nav {
    float: right;
}

header nav a {
    color: #FFFFFF;
}

header nav ul li {
    float: left;
    margin-right: 15px;
}

footer p {
    margin-top: 200px;
    text-align: center;
}

footer p .Footer-cr {
    color: #2EA3C9;
}

/* LOADER
------------------------------------------------------------ */
.Loader-container {
    margin-top: 35vh;
}

.Loader-container .Loader-symbol {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 16px solid #FFFFFF;
    border-top: 16px solid #2EA3C9;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* HOME
------------------------------------------------------------ */
.Home .Home-wrapper {
    padding-top: 100px;
    text-align: center;
}

.Home .Home-title {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}

.Home .Home-sub-title {
    color: #2EA3C9;
    font-size: 35px;
}

.Home .Home-button {
    margin-top: 40px;
}

.Home .Home-button button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* LOGIN/REGISTER
------------------------------------------------------------ */
.Register .Register-form-wrapper {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.Register .sub-title {
    font-size: 30px;
}

.Register .Register-form-wrapper form {
    margin-bottom: 50px;
}

.Register .Register-form-wrapper input[type="text"],
.Register .Register-form-wrapper input[type="email"],
.Register .Register-form-wrapper input[type="password"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    color: #091b38;
}

.Register .button {
    width: 100px;
    float: right;
    margin-top: 10px;
}

/* SUBJECTS
------------------------------------------------------------ */
.Subjects .Subjects-start-wrapper {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.Subjects .Subjects-start-message {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    opacity: 0.4;
}

.Subjects .Subjects-start-button {
    margin: 0 auto;
}

.Subjects .Subjects-subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Subjects .Subjects-nav {
    font-size: 18px;
    margin-bottom: 5px;
}

.Subjects .Subjects-nav select {
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.Subjects .Subjects-nav select > option {
    background-color: #09121F;
    cursor: pointer;
    font-weight: 700;
}

.Subjects .Subjects-nav select option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.Subjects .Subjects-add-subject {
    float: right;
    font-weight: 700;
}

/* SUBJECT
------------------------------------------------------------ */
.Subject {
    position: relative;
    width: 49%;
    margin: 10px 0px;
    background-color: #003159;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 6px 5px 3px rgba(0,0,0,1);
    transition: all .2s ease-in-out;
}

.Subject .Subject-gold-star {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    color: gold;
}

.Subject .Subject-description {
    font-weight: 400;
}

.Subject-wrapper {
    padding: 20px;
}

.Subject i {
    float: right;
    color: #FFFFFF;
    font-size: 25px;
}

.Subject .sub-title {
    float: left;
}

.Subject .Subject-progress-bar {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 5px 0px 10px 0px;
    background-color: #E4E6EB;
    border-radius: 2px;
}

.Subject .Subject-hours-done {
    position: absolute;
    height: 25px;
}

.Subject .Subject-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25px;
    color: #091b38;
    z-index: 999;
    font-weight: 700;
}

.Subject .Subject-percent i {
    font-size: 20px;
    color: #091b38;
}


/* ADDSUBJECT
------------------------------------------------------------ */

.form-group {
    margin-bottom: 15px;
}

.form-group div {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}

.AddSubject .container, .EditSubject .container {
    width: 500px;
}

.AddSubject input[type="text"], .EditSubject input[type="text"] {
    width: 100%;
    padding: 5px 10px;
}

.AddSubject input[type="number"], .EditSubject input[type="number"] {
    width: 25%;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.AddSubject textarea, .EditSubject textarea {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
}

.AddSubject .button, .EditSubject .button {
    float: right;
}

.EditSubject .EditSubject-delete {
    float: left;
    background-color: #FC2626;
}

.EditSubject .EditSubject-fade-background {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.EditSubject .EditSubject-delete-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 400px;
    height: 200px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #A3A2A2;
    color: #FFFFFF;
    border-radius: 2px;
}

.EditSubject .EditSubject-delete-modal .title {
    height: 100px;
}

.EditSubject .EditSubject-delete-modal .EditSubject-delete {
    float: right;
    margin: 0 auto;
}

/* COMMITS
------------------------------------------------------------ */
.Commits input[type="text"], .Commits input[type="number"] {
    box-sizing: border-box;
    margin-right: 1.5%;
    padding: 10px 10px;
}

.Commits input[type="number"] {
    width: 19%;
}

.Commits input[type="text"] {
    width: 64%;
}

.Commits .button.button-add {
    width: 14%
}

.Commits .Commits-messages {
    margin: 25px 0px;
}

.Commits .Commits-show-more {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.Commits .Commits-show-more:focus {
    outline: none;
}

.Commit {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 25px;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    border-radius: 2px;
}

.Commit .Commit-dash {
    margin: 0px 15px;
}

.Commit .Commit-time {
    font-style: italic;
    font-size: 20px;
}

.Commit .Commit-time-responsive {
    display: none;
}

.Commit i {
    margin-right: 20px;
}

.Commit-delete {
    float: right;
    padding: 0;
    opacity: 0;
    transition: 0.1s ease-in-out;
    background-color: transparent;
}

.Commit-delete i {
    margin-right: 0;
    font-size: 25px;
    color: #FFFFFF;
}

.Commit:hover .Commit-delete {
    opacity: 1;
    cursor: pointer;
}

.Commit:hover {
    background-color: rgba(46, 163, 201, 0.8);
}

/* MEDIA QUERY
------------------------------------------------------------ */
@media screen and (max-width: 700px) {
    .Subject {
        width: 100%;
        margin: 10px 0px;
    }

    .AddSubject .container, .EditSubject .container {
        width: 90%;
    }

    .Subjects-nav {
        margin: 15px 0px;
    }

    .Subjects .Subjects-nav select {
        padding: 4px 7px;
        font-size: 18px;
        background-color: #2EA3C9;
        border-radius: 2px;
    }

    .Subjects-add-subject {
        padding: 4px 7px;
        background-color: #2EA3C9;
        border-radius: 2px;
    }
}

@media screen and (max-width: 530px) {
    main {
        margin-top: 25px;
    }
    .go-back {
        margin-bottom: 25px;
    }
    .Subject .sub-title {
        width: 100%;
        float: none;
    }
    .Commits input[type="text"], .Commits input[type="number"] {
        margin-right: 0px;
    }
    .Commits input[type="number"] {
        width: 20%;
    }

    .Commits input[type="text"] {
        width: 78%;
        margin-right: 2%;
    }

    .Commits .button.button-add {
        width: 100%;
        margin-top: 10px;
    }
    .Commit {
        background-color: rgba(46, 163, 201, 0.1);
        font-size: 16px;
    }
    .Commit-delete i, .Commit .Commit-time {
        font-size: 16px;
    }
    .Commit:hover {
        background-color: transparent;
    }
    .Commit .Commit-delete {
        opacity: 1;
        cursor: pointer;
    }
    .Commit .Commit-dash {
        margin: 0px 5px;
    }
    .Commit .Commit-time {
        display: none;
    }
    .Commit .Commit-time-responsive {
        display: inline-block;
    }
}
