/* RESETS
------------------------------------------------------------ */
body {
    color: #091b38;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #091b38;
}

h1 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: #F1F2ED;
    box-sizing: border-box;
}

/* GLOBALS
------------------------------------------------------------ */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.button {
    padding: 10px 15px;
    background-color: #35C1FC;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.sub-title {
    margin-bottom: 5px;
    font-size: 22px;
}

header {
    width: 100%;
    height: 75px;
    padding: 20px;
    box-sizing: border-box;
}

header span {
    font-size: 40px;
    font-weight: 700;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
    margin-right: 15px;
}

/* HOME
------------------------------------------------------------ */
.Home .Home-wrapper {
    padding-top: 100px;
    text-align: center;
}

.Home .Home-title {
    font-size: 60px;
    font-weight: 700;
}

.Home .Home-sub-title {
    font-size: 40px;
    opacity: 0.8;
}

.Home .Home-button {
    margin-top: 40px;
}

.Home .Home-button button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #35C1FC;
    border-radius: 5px;
    cursor: pointer;
}

/* LOGIN/REGISTER
------------------------------------------------------------ */
.Register .Register-form-wrapper {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.Register .Register-form-wrapper form {
    margin-bottom: 50px;
}

.Register .Register-form-wrapper input[type="text"],
.Register .Register-form-wrapper input[type="email"],
.Register .Register-form-wrapper input[type="password"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    color: #091b38;
}

.Register .button {
    width: 100px;
    float: right;
    margin-top: 10px;
}

/* OVERVIEW
------------------------------------------------------------ */
.Overview .Overview-wrapper {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.Overview .Overview-add-subject {

}

/* SUBJECTITEM
------------------------------------------------------------ */
.SubjectItem {
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: #42A7FF;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.25);
    /*box-sizing: border-box;*/
}

.SubjectItem .button {
    float: right;
    padding: 2px 15px;
    background-color: #FFC421;
    color: #091b38;
    font-weight: 300;
    font-size: 16px;
}

.SubjectItem .sub-title {
    float: left;
}

.SubjectItem .SubjectItem-progress-bar {
    position: relative;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    background-color: #CAE3C8;
    border-radius: 15px;
}

.SubjectItem .SubjectItem-hours-done {
    position: absolute;
    height: 25px;
    background-color: #24DE10;
    border-radius: 15px 0px 0px 15px;
}

/*please redo this... please*/
.SubjectItem .SubjectItem-percent {
    position: absolute;
    width: 100%;
    top: 4px;
    color: #091b38;
    text-align: center;
    font-weight: 700;
    z-index: 999;
}

/* OVERVIEW
------------------------------------------------------------ */

.AddSubject .container {
    width: 500px;
}

.AddSubject .form-group {
    margin-bottom: 10px;
}

.AddSubject .form-group div {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.AddSubject input[type="text"] {
    width: 80%;
    padding: 5px 20px;
}

.AddSubject input[type="number"] {
    width: 40%;
    padding: 5px 20px;
    border: none;
    outline: none;
}